{% extends 'base.html.twig' %}

{% block body %}





                            {% for produit in produits %}

                                <img src="{{ asset(produit.image.webPath) }}" alt="properties-3"
                                     class="img-responsive">

                                            <h4>{{ produit.name }}</h4>
                                            <p>{{ produit.tva.name }} €</p>
                                            <p>{{ produit.category.name }} €</p>

                            {% endfor %}


                                {{ knp_pagination_render(produits) }}








{% endblock %}